* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

.navbar {
    width: 100%;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #222222;
}

.navbar h1 a {
    transition: background-color 0.3s ease-in-out;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar h1 a:hover {
    background-color: #333333;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #333333;
}

.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.aboutme section {
    background-color: #222222;
    flex: 1;
    max-width: 70%;
    margin: 20px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rantcontent {
    display: flex;
    justify-content: left;
    overflow: auto;
}

.rantcontent img {
    padding: 10px;
    border-radius: 20%;
}

.aboutme aside {
    background-color: #222222;
    max-width: 30%;
    flex: 2;
    margin: 20px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.primarysocials {
    padding: 15px;
    margin: 20px;
    margin-top: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #222222;
    gap: 20px;
}

.primarysocials table {
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

.primarysocials table td {
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.3s ease;
}

.primarysocials table td:hover {
    background-color: #333333;
}
